<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LearningBlazor</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Product">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Product
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Products">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Products
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="parent">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> parent
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="learnRouting">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> learnRouting
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="learnRouting#scrollFor" Match="NavLinkMatch.All">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> learnRouting scroll
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="balzorjs" Match="NavLinkMatch.All">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> balzorjs
            </NavLink>
        </div>
    </nav>
</div>

